/* CSS Document */

html
{
  height: 100%;
}

body
{
  height: 100%;
}

.container
{
  align-content: center;
  align-items: flex-start;
  background: #495054;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;

  .main-sidebar
  {
    flex: auto;
    flex-basis: 200px;
    height: 100%;
    background-color: #495054;
    color: white;
    max-width: 20%;

    .logo
    {
      margin: 100px 0;
      background-color: #38a9e3;
      padding: 25px 40px;

      span
      {
        color: aquamarine;
        display: block;
        font-size: 18px;
        margin: -6px 6px 0 136px;
      }

    }

    a
    {
      color: #dfdcd7;
      display: inline-block;
      font-size: 0.9rem;
      height: 34px;
      inline-size: 34px;
      text-decoration: none;
      vertical-align: middle;
      width: 100%;

      span
      {

        display: inline-block;
        font-size: 17px;
        margin: 26px 0 0 122px;
        position: absolute;

      }

    }

    h1
    {
      color: #41576c;
    }

    ul
    {
      list-style: none;

      li
      {
        color: antiquewhite;
      }
    }
  }

  .main-content
  {
    flex: auto;
    height: 100%;
    background-color: #e8ecef;
    color: #606b78;
    overflow: auto;
    padding: 22px;
  }

}
