<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - Stats</title>
        <link href="./css/styles.css" rel="stylesheet" />
<!--         <link href="./css/stats.css" rel="stylesheet"> -->
        <style>

            #layoutAuthentication
            {
                height: 100%;
            }

            #layoutAuthentication_content
            {
                height: 100%;
            }

            main
            {
                height: 100%;
            }

            main .container
            {
                height: 100%;
            }

            main .container > div
            {
                height: 100%;
            }

            main .container > div > div
            {
                height: 100%;
                padding-bottom: 68px;
                position: relative;
            }

            .card
            {
                margin-top: 20% !important;
                position: absolute;
                width: 520px;
            }

            #layoutAuthentication #layoutAuthentication_footer {
                bottom: 0;
                position: absolute;
                width: 100%;
            }

            .bg-primary
            {
                background-color: #453050 !important;
            }

            .message {
                color: #bb6443;
            }
        </style>

    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        
                                        <form action="/login-web-analyst.server.cjs" id="myForm" method="post">
                                            <div class="form-floating mb-3">
                                                <input class="form-control username" id="username" placeholder="username" name="username">
                                                <label for="username">Username</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control password" id="password"  placeholder="Password" name="password" type="password">
                                                <label for="password">Password</label>
                                            </div>
                                            <input type="hidden" name="random" value="{{random}}">
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <input class="btn btn-primary" id="submit-button" name="submit-button" type="submit" value="Submit">
                                            </div>
                                        </form>
                                        
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                            <span class="message" id="message"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer" class="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Web-Analyst Plugin</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>
            async function validateForm(event)
            {
                try
                {
                    event.preventDefault();
                
                    const form = document.querySelector('#myForm');
                    const url = form.action;
                
                    // Data from the form
                    const formData = new FormData(form);
                    const username = formData.get("username");
                    const password = formData.get("password");
                    const random = formData.get("random");
                
                    const $message = document.querySelector('#message');
                
                    if (!username)
                    {
                        $message.textContent = `The username field is mandatory`;
                        return false;
                    }
                
                    if (!password)
                    {
                        $message.textContent = `The password field is mandatory`;
                        return false;
                    }
                
                    // Send credentials
                    const response = await fetch(url, {
                        method : "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body   : JSON.stringify({
                            username,
                            password,
                            random
                        }),
                    });
                
                    const {success, message, destination} = await response.json();
                    if (!success)
                    {
                        document.getElementById("message").textContent = message;
                        return false;
                    }
                
                    if (!destination)
                    {
                        document.getElementById("message").textContent = message;
                        return false;
                    }
                
                    window.location.assign(destination);
                    return true;
                }
                catch (e)
                {
                    console.error(e);
                }
            
                return false;
            }
        
            document.getElementById("myForm").addEventListener("submit", validateForm)
    
        </script>
    </body>
</html>
