<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    
        <title>Stats</title>
    
        <link href="web-analyst/css/tabulator.min.css" rel="stylesheet">
        <link href="web-analyst/css/web-analyst-stats.css" rel="stylesheet">
    
        <script src="web-analyst/vendors/tabulator.min.js" type="text/javascript"></script>
    
        <script src="web-analyst/vendors/chart.js"></script>
        <script src="web-analyst/vendors/chartjs-plugin-datalabels.js"></script>
    
        <link href="web-analyst/css/styles.css" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">{{name}} v{{version}}</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><span>☰</span></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                </div>
            </form>
            
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a id="logout" href="/logout-web-analyst.server.cjs">Logout</a>
                </li>
            </ul>
            
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><span>✱</span></div>
                                Dashboard
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Plugin:</div>
                        {{name}} v{{version}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Statistics</li>
                        </ol>
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Visitors per hour
                            </div>
                            <div class="card-body section bar">
                                <canvas id="visitorHours"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Visitors per week
                            </div>
                            <div class="card-body section bar">
                                <canvas id="visitorsWeek"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Visitors per year
                            </div>
                            <div class="card-body section bar">
                                <canvas id="visitorsYear"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Browser popularity
                            </div>
                            <div class="card-body section pie">
                                <canvas id="browsers"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                O.S. popularity
                            </div>
                            <div class="card-body section pie">
                                <canvas id="oses"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Language popularity
                            </div>
                            <div class="card-body section pie">
                                <canvas id="languages"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Endpoint Frequency
                            </div>
                            <div class="card-body section table">
                                <div id="endpoint-table" class="tabulator"></div>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Earnings per day
                            </div>
                            <div class="card-body section money">
                                <canvas id="money-day"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        <!-- Block -->
                        <div class="card mb-4 container">
                            <div class="card-header">
                                ⧠
                                Earnings per month
                            </div>
                            <div class="card-body section money">
                                <canvas id="money-month"></canvas>
                            </div>
                        </div>
                        <!-- /Block -->
                        
                        
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">{{name}} Plugin v{{version}}</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        
        <script src="web-analyst/vendors/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="web-analyst/vendors/scripts.js"></script>
        <script src="web-analyst/js/start.mjs" type="module"></script>
    </body>
</html>
