body
{
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.container
{
  display: block;
  margin: auto;
  min-width: 400px;
  width: 60%;

  .section
  {
    margin-bottom: 10px;
    margin-top: 10px;

    &.bar
    {
    }

    &.pie
    {
    }

    &.table
    {
      font-family: sans-serif;
      font-size: 0.9rem;

      .tabulator-row
      {
        padding: 8px 0;

        &.tabulator-row-odd,
        &.tabulator-row-even
        {
        }
      }
    }

  }
}

